In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict, Counter
from shapely.geometry import Point
from shapely.geometry import LineString
from shapely import wkt
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv("..//Data_Preprocessing//Bus_Routes//clean_trips_full.csv")
df

,trip_id,line_id,direction_id,stop_sequence,stop_id,stop_lat,stop_lon,dist_traveled,stop_point
0,14329.y1014.60-1-b12-1.1.O,1,0,1,8240DB000226,53.391141,-6.262200,0.000000,POINT (715588.0000358828 739293.9995335338)
1,14329.y1014.60-1-b12-1.1.O,1,0,2,8240DB000228,53.391844,-6.259871,268.176297,POINT (715740.9999836229 739375.9997012733)
2,14329.y1014.60-1-b12-1.1.O,1,0,3,8240DB000229,53.391400,-6.256536,484.896849,POINT (715963.9999663082 739332.0004584444)
3,14329.y1014.60-1-b12-1.1.O,1,0,4,8240DB000227,53.391144,-6.251345,836.967239,POINT (716309.9999671782 739312.000176253)
4,14329.y1014.60-1-b12-1.1.O,1,0,5,8240DB000230,53.389888,-6.249066,1066.433343,POINT (716464.9999995211 739175.9996639034)
...,...,...,...,...,...,...,...,...,...
20368,12009.y1015.60-9-b12-1.13.I,9,1,32,8220DB001357,53.342568,-6.264597,9093.631457,POINT (715560.0000257774 733885.9995099099)
20369,12009.y1015.60-9-b12-1.13.I,9,1,33,8220DB001359,53.344399,-6.261369,9479.692023,POINT (715770.0000190187 734095.0004052669)
20370,12009.y1015.60-9-b12-1.13.I,9,1,34,8220DB000319,53.345969,-6.259292,9801.353837,POINT (715904.0000318096 734272.9997392591)
20371,12009.y1015.60-9-b12-1.13.I,9,1,35,8220DB000281,53.350910,-6.260968,10338.304025,POINT (715778.9999965819 734819.9994605694)
20372,12009.y1015.60-9-b12-1.13.I,9,1,36,8220DB000004,53.352575,-6.264175,10733.314263,POINT (715561.0000111472 734999.9996454353)

In [6]:
# Adjust the dist_traveled!!!

trips = defaultdict(lambda: [[], []])  # key: line, value: list of 2 lists of dfs (one for each direction)
for attrs, trip_df in df.groupby(["line_id", "direction_id", "trip_id"]): # trip_id is the full identifier !!
    (line_id, direction_id, trip_id) = attrs
    trips[line_id][direction_id].append(trip_df)

In [9]:
def add_to_obj(obj, df_list):
    for i, row in df_list.iterrows():
        stop_id = row["stop_id"]
        trip_id = row["trip_id"]
        dist_traveled = row["dist_traveled"]
        obj[stop_id].append((trip_id, dist_traveled))
    


obj = defaultdict(lambda: [])
for line, dir_list in trips.items():
    for df_list in dir_list:
        for trip_df in df_list:
            add_to_obj(obj, trip_df)

In [13]:
obj["8240DB000228"]

[('14329.y1014.60-1-b12-1.1.O', 268.17629659763696),
 ('14343.y1014.60-1-b12-1.2.O', 268.17629659763696)]